<div [@onSideNavChange]="sideNavState ? 'open' : 'close'">

  <mat-nav-list class="menu-container">

    <mat-list-item [style]="{'text-align':'center'}" *ngIf="sideNavState" [style]="{'height':'100px'}" class="user-info" (click)="onSinenavToggle()">
      <div style="display: flex;flex-direction:row;align-items: center;">
          <img class="jim" [src]="userInfo.imageUrl" alt="Avatar" style="width: 50px; height: 50px;">
          <div style="display: flex;flex-direction:column;margin-left: 10px">
            <span style="font-weight: 500;font-size:18px;">Dr. {{userInfo.fullName}}</span>
            <span style="font-weight: 300;font-size: 15px;">{{userInfo.email}}</span>
          </div>
      </div>
        
    </mat-list-item>

    <mat-list-item (click)="onSinenavToggle()" [style]="{'text-align':'center'}"  *ngIf="!sideNavState">
      <div>
        <img class="jim" [src]="userInfo?.imageUrl" alt="Avatar">
      </div>

    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item (click)="onSinenavToggle()" [style]="{'text-align':'center'}">
      <fa-icon icon="angle-right" [styles]="menuIconStyles" [fixedWidth]="true" *ngIf="!sideNavState">
      </fa-icon>
      <fa-icon icon="angle-left" [styles]="menuIconStyles" [fixedWidth]="true" *ngIf="sideNavState">
      </fa-icon>
      <div fxFlex="10"></div>
      <div [@animateText]="linkText ? 'show' : 'hide'" class="sidenav-item component-name">
        <span>close menu</span>
      </div>
    </mat-list-item>

    <mat-list-item routerLink="dashboard" routerLinkActive="active" [style]="{'text-align':'center'}">
      <fa-icon icon="tachometer-alt" [styles]="menuIconStyles" [fixedWidth]="true">
      </fa-icon>
      <div fxFlex="10"></div>
      <div [@animateText]="linkText ? 'show' : 'hide'" class="sidenav-item component-name">
        <span>Dashboard</span>
      </div>
    </mat-list-item>

    <mat-list-item routerLink="patient-list" routerLinkActive="active">
      <fa-icon icon="users" [styles]="menuIconStyles" [fixedWidth]="true"></fa-icon>
      <div fxFlex="10"></div>
      <div [@animateText]="linkText ? 'show' : 'hide'" class="sidenav-item component-name">
        <span>Patients list</span>
      </div>
    </mat-list-item>

    <mat-list-item routerLink="calendar" routerLinkActive="active">
      <fa-icon icon="calendar-alt" [styles]="menuIconStyles" [fixedWidth]="true">
      </fa-icon>
      <div fxFlex="10"></div>
      <div [@animateText]="linkText ? 'show' : 'hide'" class="sidenav-item component-name">
        <span>Calendar</span>
      </div>
    </mat-list-item>

    <mat-list-item routerLink="settings" routerLinkActive="active">
      <fa-icon icon="cog" [styles]="menuIconStyles" [fixedWidth]="true"></fa-icon>
      <div fxFlex="10"></div>
      <div [@animateText]="linkText ? 'show' : 'hide'" class="sidenav-item component-name">
        <span>Settings</span>
      </div>
    </mat-list-item>

  </mat-nav-list>

</div>