<div [@onSideNavChange]="sideNavState ? 'open' : 'close'">

  <mat-nav-list>

    <mat-list-item (click)="onSinenavToggle()" [style]="{'text-align':'center'}">
      <fa-icon icon="angle-right" [styles]="menuIconStyles" [fixedWidth]="true" *ngIf="!sideNavState">
      </fa-icon>
      <fa-icon icon="angle-left" [styles]="menuIconStyles" [fixedWidth]="true" *ngIf="sideNavState">
      </fa-icon>
      <div fxFlex="10"></div>
      <div [@animateText]="linkText ? 'show' : 'hide'" class="sidenav-item component-name">
        <span>close menu</span>
      </div>
    </mat-list-item>

    <mat-list-item routerLink="dashboard" routerLinkActive="active" [style]="{'text-align':'center'}">
      <fa-icon icon="tachometer-alt" [styles]="menuIconStyles" [fixedWidth]="true">
      </fa-icon>
      <div fxFlex="10"></div>
      <div [@animateText]="linkText ? 'show' : 'hide'" class="sidenav-item component-name">
        <span>Dashboard</span>
      </div>
    </mat-list-item>

    <mat-list-item routerLink="patient-list" routerLinkActive="active">
      <fa-icon icon="users" [styles]="menuIconStyles" [fixedWidth]="true"></fa-icon>
      <div fxFlex="10"></div>
      <div [@animateText]="linkText ? 'show' : 'hide'" class="sidenav-item component-name">
        <span>Patients list</span>
      </div>
    </mat-list-item>

    <mat-list-item routerLink="calendar" routerLinkActive="active">
      <fa-icon icon="calendar-alt" [styles]="menuIconStyles" [fixedWidth]="true">
      </fa-icon>
      <div fxFlex="10"></div>
      <div [@animateText]="linkText ? 'show' : 'hide'" class="sidenav-item component-name">
        <span>Calendar</span>
      </div>
    </mat-list-item>

    <mat-list-item routerLink="settings" routerLinkActive="active">
      <fa-icon icon="cog" [styles]="menuIconStyles" [fixedWidth]="true"></fa-icon>
      <div fxFlex="10"></div>
      <div [@animateText]="linkText ? 'show' : 'hide'" class="sidenav-item component-name">
        <span>Settings</span>
      </div>
    </mat-list-item>

  </mat-nav-list>

</div>
