

.example-sidenav-content {
    display: flex;
}

.user-info {
    height: 100px !important;
}

.jim {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
  }

.profile-image {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

::ng-deep .mat-drawer-content {
    height: calc(100vh - 64px) !important;
}


.active{
    background-color:rgba(9, 30, 66, 0.25);
}

.sidenav-item{
    color: #595959;
    font-size:20px; 
}

mat-icon{
    color: white;
}

.component-name {
    margin-left: 10px;
    font-size: 15px;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
}
