<span mat-dialog-title 
      class="dialog-title" 
      *ngIf="addEvent">Add an appointment</span>

<span mat-dialog-title 
      class="dialog-title" 
      *ngIf="!addEvent">Update an appointment</span>

<div mat-dialog-content>
    <div fxLayout="row">
        <div fxLayout="column" fxLayoutAlign="center">
            <fa-icon icon="user-circle" 
                     [styles]="dialogIconStyles" 
                     [fixedWidth]="true">
            </fa-icon>
        </div>
        <div class="dialog-input">
            <mat-form-field [style.fontSize]="'14px'">
                <input matInput 
                       [(ngModel)]="patientName" 
                       placeholder="Patient's name" 
                       autocomplete="off">
            </mat-form-field>
        </div>
    </div>

    <div fxLayout="row">
        <div fxLayout="column" fxLayoutAlign="center">
            <fa-icon icon="clock" 
                     [styles]="dialogIconStyles"
                     [fixedWidth]="true">
            </fa-icon>
        </div>
        <div class="dialog-input">
            <mat-form-field [style.fontSize]="'14px'">
                <input matInput 
                       [matDatepicker]="picker" 
                       placeholder="Choose a date" 
                       autocomplete="off" 
                       [(ngModel)]="appointmentDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="dialog-interval-input">
            <mat-form-field [style.fontSize]="'14px'">
                <mat-label>From</mat-label>
                <mat-select [(ngModel)]="fromHour">
                    <mat-option *ngFor="let fromHour of fromHours" [value]="fromHour.value">
                        {{fromHour.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="dialog-interval-input">
            <mat-form-field [style.fontSize]="'14px'">
                <mat-label>To</mat-label>
                <mat-select [(ngModel)]="toHour">
                    <mat-option *ngFor="let toHour of toHours" [value]="toHour.value">
                        {{toHour.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div fxLayout="row">
        <div fxLayout="column" fxLayoutAlign="center">
            <fa-icon icon="bars" 
                     [styles]="dialogIconStyles" 
                     [fixedWidth]="true">
            </fa-icon>
        </div>
        <div class="dialog-input">
            <mat-form-field [style.fontSize]="'14px'">
                <input matInput 
                       [(ngModel)]="description" 
                       placeholder="Appointment details" 
                       autocomplete="off">
            </mat-form-field>
        </div>
    </div>
</div>

<div mat-dialog-actions class="dialog-menu">
    <button mat-raised-button color="primary" (click)="saveAppointment()">Save</button>
    <button mat-raised-button color="primary" (click)="closeDialog()">Cancel</button>
</div>