.dialog-title {
    color:#3f51b5;
}

.dialog-input {
    display: flex; 
    flex-direction:column;
    margin-left:10px;
    width:100%;
}

.dialog-interval-input {
    margin-left:10px
}

.dialog-menu {
    margin-bottom: 1px; 
    margin-top: 15px;
}