mat-grid-tile {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

:host {
  width: 100%;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.mat-card {
  width: calc(100%);
  height: calc(100%);
  border-radius: 0%;
}

.dashboard-chart {
  width: 50%;
  height: 280px;
}

.dashboard-tile-title {
  font-size:20px;
  font-weight:200;
  margin-bottom:0;
}

.dashboard-storage-status {
  margin-bottom:30px;
  font-size: 22px;
  font-weight: 100;
}

.timeline-body {
  padding: 20px 24px;
  box-sizing: border-box;
  display: block;
}

.timeline {
  border-left: 1px solid #dddee0;
  position: relative;
}

.timeline-item-content {
  padding-bottom: 10px;
  margin-top: -6px;
  margin-left: 24px;
}

.timeline-item {
  position: relative;
  padding-bottom: 1px;
  border-color: #dddee0;
}

.timeline-item-free {
  position: relative;
  padding-bottom: 1px;
  border-color: #dddee0;
}

.timeline-item-free ::before {
  display: table;
  content: " ";
}
.timeline-item-free:after {
  top: 0;
}

.timeline-item ::before {
  display: table;
  content: " ";
}
.timeline-item:after {
  top: 0;
}

.timeline .timeline-item:after,
.timeline:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 6px;
  height: 6px;
  margin-left: -6px;
  background-color: #fff;
  border-color: #3f51b5;
  border-style: solid;
  border-width: 3px;
  border-radius: 50%;
  content: "";
  // & .free-item {
  //   border-color: #298763 !important;
  // }
}

.timeline .timeline-item-free:after,
.timeline:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 6px;
  height: 6px;
  margin-left: -6px;
  background-color: #fff;
  border-color: #298763;
  border-style: solid;
  border-width: 3px;
  border-radius: 50%;
  content: "";
  // & .free-item {
  //   border-color: #298763 !important;
  // }
}


.emc-points {
  width: 50%;
  height: 100%;
  background-color: #3f51b5;
}

.emc-option-points {
  height: 10%;
  padding-top: 15px;
  padding-right: 15px;
}

.registered-patients {
  width: 50%;
  height:100%;
  background-color:#298763
}

.emc-points:hover .icon-visibility {
  display: block;
}

.registered-patients:hover .icon-visibility {
  display: block;
}

.icon-visibility {
  display: none;
}

::ng-deep .emc-selection .mat-select-arrow-wrapper {
  visibility: hidden;
}
::ng-deep .emc-input .mat-form-field-underline {
  display: none;
}

::ng-deep .emc-input .mat-form-field-infix {
  text-align: end;
}


