.mat-card {
    border-radius: 0%;
}

.mat-card-title {
    color:#3f51b5;
}

.input {
    display: block;
}

.login-container {
    display:block; 
    margin-left:auto;
    margin-right: auto; 
    margin-top: 25%; 
    height: 200px; 
    width: 400px;
    align-items: center;
    justify-content: center;
}