<div style="height: 100%; display: flex; flex-flow: column;">
    <div style="height: 140px" class="widgets_div" *ngIf="showPatientDetails">
        <mat-card>
            <mat-grid-list cols="3" rowHeight="100px">
                <mat-grid-tile [colspan]="1">
                    <div style="display: flex; flex-direction: row; align-items: center; vertical-align: middle;">
                        <div style="display: flex;">
                            <div style="width: 54px;height: 54px; margin-left:5px;">
                                <img [src]="patient?.imageUrl" alt="Avatar" style="border-radius: 50%; width: 100%">
                            </div>
                        </div>
                        <div
                            style="display:flex; margin-left: 10px; flex-direction: column;align-items: start; justify-content: center">
                            <span style="font-size: 20px;font-weight: 300;">{{patient?.surname}},
                                {{patient?.name}}</span>
                            <span style="font-weight: 100;margin-top:5px;">{{patient?.company}}</span>
                        </div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1">
                    <div style="display: flex; flex-direction: row; align-items: center; vertical-align: middle;">
                        <div style="display: flex;">
                            <fa-icon icon="calendar-check"
                                [styles]="{ 'color': '#3f51b5', 'margin-left': '5px', 'font-size': '55px'}"
                                [fixedWidth]="true">
                            </fa-icon>
                        </div>
                        <div
                            style="display:flex; margin-left: 5px; flex-direction: column;align-items: start; justify-content: center">
                            <span style="font-size: 20px;font-weight: 300;">Last consult</span>
                            <span style="font-weight: 200;margin-top:5px;">{{patient?.lastConsult}}</span>
                        </div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1">
                    <div style="display: flex; flex-direction: row; align-items: center; vertical-align: middle;">
                        <div style="display: flex;">
                            <fa-icon icon="id-card"
                                [styles]="{ 'color': '#3f51b5', 'margin-left': '5px', 'font-size': '55px'}"
                                [fixedWidth]="true">
                            </fa-icon>
                        </div>
                        <div
                            style="display:flex; margin-left: 10px; flex-direction: column;align-items: start; justify-content: center">
                            <span style="font-size: 20px;font-weight: 300;">Contact info</span>
                            <span style="margin-top: 5px;font-weight: 200;">{{patient?.email}}</span>
                            <span style="margin-top: 7px;font-weight: 200;">{{patient?.phoneNumber}}</span>
                        </div>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card>
    </div>
    <div style="flex-grow: 1;">
        <mat-card style="height: 100%;">
            <mat-tab-group style="height: 100%;flex-grow: 1;">
                <mat-tab label="Dental map">
                    <app-dental-map></app-dental-map>
                </mat-tab>
                <mat-tab label="Last consults">
                    <app-last-consults></app-last-consults>
                </mat-tab>
                <mat-tab label="Patient files">
                    <app-patient-files></app-patient-files>
                </mat-tab>
                <mat-tab label="X-rays">
                    <app-x-rays></app-x-rays>
                </mat-tab>
                <mat-tab disabled *ngIf="showPatientDetails" style="opacity: 1 !important">
                    <ng-template mat-tab-label>
                        <button mat-icon-button (click)="togglePatientDetails()">
                            <fa-icon icon="chevron-up" [fixedWidth]="true"></fa-icon>
                        </button>
                    </ng-template>
                </mat-tab>
                <mat-tab disabled *ngIf="!showPatientDetails" style="opacity: 1 !important">
                    <ng-template mat-tab-label>
                        <button mat-icon-button (click)="togglePatientDetails()">
                            <fa-icon icon="chevron-down" [fixedWidth]="true"></fa-icon>
                        </button>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </div>
</div>