:host {
    width: 100% !important;
}

::ng-deep .mat-grid-tile .mat-figure {
    justify-content: flex-start !important;
}

::ng-deep .mat-tab-body {
    height: 100%;
}

.icon_div {
    margin-left: 5px; /* optional */
    font-size: 23px;
    font-weight: 300;
}

.mat-card {
    border-radius: 0%;
}