<div style="display: flex; align-items: center; justify-content: center;margin-top:20px">
    <div style="display:flex; flex-direction: column;align-items: start; justify-content: center">
        <div style="display: flex; flex-direction: row;">

            <div style="display:flex; flex-direction: row;">
                <div style="display: flex; flex-direction:column;align-items: center; justify-content: center">
                    <span>Upper Left</span>
                    <div style="display:flex; flex-direction: row;margin-top:15px">
                        <div class="tooth-container">
                            <fa-icon icon="tooth" [styles]="{ 'color': '#3f51b5', 'font-size': '40px'}"
                                [fixedWidth]="true" rotate="180">
                            </fa-icon>
                            <span>16</span>
                        </div>
                        <div class="tooth-container">
                            <fa-icon icon="tooth" [styles]="{ 'color': '#3f51b5', 'font-size': '40px'}"
                                [fixedWidth]="true" rotate="180">
                            </fa-icon>
                            <span>15</span>
                        </div>
                        <div class="tooth-container">
                            <fa-icon icon="tooth" [styles]="{ 'color': '#3f51b5', 'font-size': '40px'}"
                                [fixedWidth]="true" rotate="180">
                            </fa-icon>
                            <span>14</span>
                        </div>
                        <div class="tooth-container">
                            <fa-icon icon="tooth" [styles]="{ 'color': '#3f51b5', 'font-size': '40px'}"
                                [fixedWidth]="true" rotate="180">
                            </fa-icon>
                            <span>13</span>
                        </div>
                        <div class="tooth-container">
                            <fa-icon icon="tooth" [styles]="{ 'color': '#3f51b5', 'font-size': '40px'}"
                                [fixedWidth]="true" rotate="180">
                            </fa-icon>
                            <span>12</span>
                        </div>
                        <div class="tooth-container">
                            <fa-icon icon="tooth" [styles]="{ 'color': '#3f51b5', 'font-size': '40px'}"
                                [fixedWidth]="true" rotate="180">
                            </fa-icon>
                            <span>11</span>
                        </div>
                        <div class="tooth-container">
                            <fa-icon icon="tooth" [styles]="{ 'color': '#3f51b5', 'font-size': '40px'}"
                                [fixedWidth]="true" rotate="180">
                            </fa-icon>
                            <span>10</span>
                        </div>
                        <div class="tooth-container">
                            <fa-icon icon="tooth" [styles]="{ 'color': '#3f51b5', 'font-size': '40px'}"
                                [fixedWidth]="true" rotate="180">
                            </fa-icon>
                            <span>9</span>
                        </div>
                    </div>
                </div>
            </div>

            <div style="display:flex; flex-direction: row; margin-left:30px;">
                <div style="display: flex; flex-direction:column;align-items: center;">
                    <span>Upper Rigth</span>
                    <div style="display:flex; flex-direction: row;margin-top:15px">
                        <div class="tooth-container">
                            <fa-icon icon="tooth" [styles]="{ 'color': '#3f51b5', 'font-size': '40px'}"
                                [fixedWidth]="true" rotate="180">
                            </fa-icon>
                            <span>8</span>
                        </div>
                        <div class="tooth-container">
                            <fa-icon icon="tooth" [styles]="{ 'color': '#3f51b5', 'font-size': '40px'}"
                                [fixedWidth]="true" rotate="180">
                            </fa-icon>
                            <span>7</span>
                        </div>
                        <div class="tooth-container">
                            <fa-icon icon="tooth" [styles]="{ 'color': '#3f51b5', 'font-size': '40px'}"
                                [fixedWidth]="true" rotate="180">
                            </fa-icon>
                            <span>6</span>
                        </div>
                        <div class="tooth-container">
                            <fa-icon icon="tooth" [styles]="{ 'color': '#3f51b5', 'font-size': '40px'}"
                                [fixedWidth]="true" rotate="180">
                            </fa-icon>
                            <span>5</span>
                        </div>
                        <div class="tooth-container">
                            <fa-icon icon="tooth" [styles]="{ 'color': '#3f51b5', 'font-size': '40px'}"
                                [fixedWidth]="true" rotate="180">
                            </fa-icon>
                            <span>4</span>
                        </div>
                        <div class="tooth-container">
                            <fa-icon icon="tooth" [styles]="{ 'color': '#3f51b5', 'font-size': '40px'}"
                                [fixedWidth]="true" rotate="180">
                            </fa-icon>
                            <span>3</span>
                        </div>
                        <div class="tooth-container">
                            <fa-icon icon="tooth" [styles]="{ 'color': '#3f51b5', 'font-size': '40px'}"
                                [fixedWidth]="true" rotate="180">
                            </fa-icon>
                            <span>2</span>
                        </div>
                        <div class="tooth-container">
                            <fa-icon icon="tooth" [styles]="{ 'color': '#3f51b5', 'font-size': '40px'}"
                                [fixedWidth]="true" rotate="180">
                            </fa-icon>
                            <span>1</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="display: flex; flex-direction: row; margin-top: 20px">
            <div style="display:flex; flex-direction: row;">
                <div style="display: flex; flex-direction:column;align-items: center;">
                    <div style="display:flex; flex-direction: row;margin-bottom:15px">
                        <div class="tooth-container">
                            <span>17</span>
                            <fa-icon icon="tooth" [styles]="{ 'color': '#3f51b5', 'font-size': '40px'}"
                                [fixedWidth]="true">
                            </fa-icon>
                        </div>

                        <div class="tooth-container">
                            <span>18</span>
                            <fa-icon icon="tooth" [styles]="{ 'color': '#3f51b5', 'font-size': '40px'}"
                                [fixedWidth]="true">
                            </fa-icon>
                        </div>
                        <div class="tooth-container">
                            <span>19</span>
                            <fa-icon icon="tooth" [styles]="{ 'color': '#3f51b5', 'font-size': '40px'}"
                                [fixedWidth]="true">
                            </fa-icon>
                        </div>
                        <div class="tooth-container">
                            <span>20</span>
                            <fa-icon icon="tooth" [styles]="{ 'color': '#3f51b5', 'font-size': '40px'}"
                                [fixedWidth]="true">
                            </fa-icon>
                        </div>
                        <div class="tooth-container">
                            <span>21</span>
                            <fa-icon icon="tooth" [styles]="{ 'color': '#3f51b5', 'font-size': '40px'}"
                                [fixedWidth]="true">
                            </fa-icon>
                        </div>
                        <div class="tooth-container">
                            <span>22</span>
                            <fa-icon icon="tooth" [styles]="{ 'color': '#3f51b5', 'font-size': '40px'}"
                                [fixedWidth]="true">
                            </fa-icon>
                        </div>
                        <div class="tooth-container">
                            <span>23</span>
                            <fa-icon icon="tooth" [styles]="{ 'color': '#3f51b5', 'font-size': '40px'}"
                                [fixedWidth]="true">
                            </fa-icon>
                        </div>
                        <div class="tooth-container">
                            <span>24</span>
                            <fa-icon icon="tooth" [styles]="{ 'color': '#3f51b5', 'font-size': '40px'}"
                                [fixedWidth]="true">
                            </fa-icon>
                        </div>
                    </div>
                    <span>Lower Left</span>
                </div>
            </div>

            <div style="display:flex; flex-direction: row;margin-left: 30px">
                <div style="display: flex; flex-direction:column;align-items: center;">
                    <div style="display:flex; flex-direction: row;margin-bottom:15px">
                        <div class="tooth-container">
                            <span>25</span>
                            <fa-icon icon="tooth" [styles]="{ 'color': '#3f51b5', 'font-size': '40px'}"
                                [fixedWidth]="true">
                            </fa-icon>
                        </div>
                        <div class="tooth-container">
                            <span>26</span>
                            <fa-icon icon="tooth" [styles]="{ 'color': '#3f51b5', 'font-size': '40px'}"
                                [fixedWidth]="true">
                            </fa-icon>
                        </div>
                        <div class="tooth-container">
                            <span>27</span>
                            <fa-icon icon="tooth" [styles]="{ 'color': '#3f51b5', 'font-size': '40px'}"
                                [fixedWidth]="true">
                            </fa-icon>
                        </div>
                        <div class="tooth-container">
                            <span>28</span>
                            <fa-icon icon="tooth" [styles]="{ 'color': '#3f51b5', 'font-size': '40px'}"
                                [fixedWidth]="true">
                            </fa-icon>
                        </div>
                        <div class="tooth-container">
                            <span>29</span>
                            <fa-icon icon="tooth" [styles]="{ 'color': '#3f51b5', 'font-size': '40px'}"
                                [fixedWidth]="true">
                            </fa-icon>
                        </div>
                        <div class="tooth-container">
                            <span>30</span>
                            <fa-icon icon="tooth" [styles]="{ 'color': '#3f51b5', 'font-size': '40px'}"
                                [fixedWidth]="true">
                            </fa-icon>
                        </div>
                        <div class="tooth-container">
                            <span>31</span>
                            <fa-icon icon="tooth" [styles]="{ 'color': '#3f51b5', 'font-size': '40px'}"
                                [fixedWidth]="true">
                            </fa-icon>
                        </div>
                        <div class="tooth-container">
                            <span>32</span>
                            <fa-icon icon="tooth" [styles]="{ 'color': '#3f51b5', 'font-size': '40px'}"
                                [fixedWidth]="true">
                            </fa-icon>
                        </div>
                    </div>
                    <span>Lower Right</span>
                </div>
            </div>
        </div>
    </div>
</div>