<div [hidden]="isLoaded" style="text-align: -webkit-center;margin-top:10vh;height: 200px">
    <mat-spinner [diameter]="70"></mat-spinner>
</div>

<div flex layout="row" style="overflow-y: hidden;height: 100%;" [hidden]="!isLoaded">
    <div style="display: flex; align-items: center; justify-content: center;height: 100%;">
        <div fxLayout="column wrap" fxLayoutAlign="start center">
            <div fxLayout="row wrap">
                <div fxLayout="column wrap" fxLayoutAlign="center center" style="margin-right:80px;">
                        <button mat-raised-button color="primary" (click)="openBlanDentalMap()" style="border-radius: 0">
                                Blank
                                dental file</button>
                </div>

                <div fxLayout="column wrap" fxLayoutAlign="center center">
                    <div fxLayout="row wap">
                        <div fxLayout="column wrap" fxLayoutAlign="center center">
                            <span>Upper Left</span>
                            <div fxLayout="row wrap" style="margin-top:15px">
                                <div class="tooth-container" *ngFor="let tooth of upperLeftSide"
                                    (click)="showToothDetails(tooth)">
                                    <fa-icon icon="tooth" [ngClass]="tooth.state" [fixedWidth]="true" rotate="180">
                                    </fa-icon>
                                    <span style="margin-top:5px;">{{tooth.number}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div fxLayout="row wap" style="margin-top:25px">
                        <div fxLayout="column wrap" fxLayoutAlign="center center">
                            <div fxLayout="row wrap" style="margin-bottom:15px">
                                <div class="tooth-container" *ngFor="let tooth of lowerLeftSide"
                                    (click)="showToothDetails(tooth)">
                                    <span style="margin-bottom:5px;">{{tooth.number}}</span>
                                    <fa-icon icon="tooth" [ngClass]="tooth.state" [fixedWidth]="true">
                                    </fa-icon>
                                </div>
                            </div>
                            <span>Lower Left</span>
                        </div>
                    </div>
                </div>
                <div fxLayout="column wrap" fxLayoutAlign="center center" style="margin-left:40px">
                    <div fxLayout="row wap">
                        <div fxLayout="column wrap" fxLayoutAlign="center center">
                            <span>Upper Rigth</span>
                            <div fxLayout="row wrap" style="margin-top:15px">
                                <div class="tooth-container" *ngFor="let tooth of upperRightSide"
                                    (click)="showToothDetails(tooth)">
                                    <fa-icon icon="tooth" [ngClass]="tooth.state" [fixedWidth]="true" rotate="180">
                                    </fa-icon>
                                    <span style="margin-top:5px;">{{tooth.number}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div fxLayout="row wap" style="margin-top:25px">
                        <div fxLayout="column wrap" fxLayoutAlign="center center">
                            <div fxLayout="row wrap" style="margin-bottom:15px">
                                <div class="tooth-container" *ngFor="let tooth of lowerRightSide"
                                    (click)="showToothDetails(tooth)">
                                    <span style="margin-bottom:5px;">{{tooth.number}}</span>
                                    <fa-icon icon="tooth" [ngClass]="tooth.state" [fixedWidth]="true">
                                    </fa-icon>
                                </div>
                            </div>
                            <span>Lower Right</span>
                        </div>
                    </div>
                </div>
                <div fxLayout="column wrap" fxLayoutAlign="center flex-start" style="margin-left:80px;">
                    <div fxLayout="row wrap" fxLayoutAlign="center center">
                        <div class="legend-color healty"></div>
                        <span style="margin-left:10px">Healty tooth</span>
                    </div>
                    <div fxLayout="row wrap" fxLayoutAlign="center center" style="margin-top:5px">
                        <div class="legend-color extracted"></div>
                        <span style="margin-left:10px">Extracted nerve</span>
                    </div>
                    <div fxLayout="row wrap" fxLayoutAlign="center center" style="margin-top:5px">
                        <div class="legend-color fake"></div>
                        <span style="margin-left:10px">Fake tooth</span>
                    </div>
                    <div fxLayout="row wrap" fxLayoutAlign="center center" style="margin-top:5px">
                        <div class="legend-color missing"></div>
                        <span style="margin-left:10px">Missing tooth</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>