<mat-toolbar color="primary" fullscreen class="mat-elevation-z2">
    <mat-toolbar-row style="font-size: 16px; font-weight: 400;" >
            <fa-icon icon="tooth" style="margin-left: 10px; font-size: 18px"></fa-icon>
            <span style="margin-left:30px">Dental management app</span>
            <span class="spacer"></span>
            <span style="margin-right: 20px">mihai.lucian04@gmail.com</span>
            <span style="margin-right: 20px">Logout</span>
    </mat-toolbar-row>
</mat-toolbar>