<span mat-dialog-title class="dialog-title">Edit EMC points</span>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput 
               placeholder="Current EMC points" 
               [(ngModel)]="newEmcPoints.points">
    </mat-form-field>

    <mat-form-field>
        <input matInput 
               placeholder="Target EMC points" 
               [(ngModel)]="newEmcPoints.maxPoints">
    </mat-form-field>
</div>

<div mat-dialog-actions class="dialog-menu">
    <button mat-raised-button color="primary" (click)="saveEmcOptions()">Save</button>
    <button mat-raised-button color="primary" (click)="closeEmcPoints()">Cancel</button>
</div>