<div>
    <app-header></app-header>

    <app-login-form *ngIf="!(isLoggedIn$ | async)"></app-login-form>

    <mat-sidenav-container style="height: calc(100vh - 64px)" *ngIf="(isLoggedIn$ | async)">
        <mat-sidenav #sidenav mode="side" class="example-sidenav"
            [ngStyle]="{ 'width.em': sidenavWidth, 'transition':'all 0.5s'}" opened="true">
                <app-side-nav></app-side-nav>
        </mat-sidenav>
        <mat-sidenav-content [@onMainContentChange]="onSideNavChange ? 'open': 'close'" >
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>

</div>