:host {
  width: 100% !important;
}

::ng-deep .cal-month-view .cal-header .cal-cell {
  font-weight: 200;
}

::ng-deep .event-item {
  margin-bottom: 5px;
}

::ng-deep .cal-week-view .cal-time {
  font-weight: 200;
}

::ng-deep .cal-day-view .cal-time {
  font-weight: 200;
}

.mat-card {
    border-radius: 0%;
}

.control-header {
  display: flex;
  flex-direction: row;
}

.control-header button {
    margin-right: 8px;
    border-radius: 0%;
}

.calendar-current-month {
  flex-grow:1;
  text-align: center
}