<div class="control-header">
    <mat-card style="width: 100%">
        <div fxLayout="row" fxLayoutAlign="start center">
            <div>
                <button mat-raised-button 
                        color="primary" 
                        mwlCalendarPreviousView 
                        [view]="view" 
                        [(viewDate)]="viewDate"
                        (viewDateChange)="closeOpenMonthViewDay()">Previous</button>

                <button mat-raised-button 
                        color="primary" 
                        mwlCalendarToday 
                        [(viewDate)]="viewDate">Today</button>

                <button mat-raised-button 
                        color="primary" 
                        mwlCalendarNextView [view]="view" 
                        [(viewDate)]="viewDate"
                        (viewDateChange)="closeOpenMonthViewDay()">Next</button>
            </div>

            <div class="calendar-current-month" >
                <span>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</span>
            </div>

            <div>
                <button mat-raised-button 
                        color="primary" 
                        (click)="setView(CalendarView.Month)"
                        [class.active]="view === CalendarView.Month">Month</button>
                
                <button mat-raised-button 
                        color="primary" 
                        (click)="setView(CalendarView.Week)"
                        [class.active]="view === CalendarView.Week">Week</button>
                
                <button mat-raised-button 
                        color="primary" 
                        (click)="setView(CalendarView.Day)"
                        [class.active]="view === CalendarView.Day" 
                        style="margin-right: 0">Day</button>
            </div>
        </div>
    </mat-card>
</div>

<mat-card style="margin-top:10px">
    <div>
        <button mat-raised-button 
                color="primary" 
                style="border-radius: 0" 
                (click)="addEvent()">
                
                Add new appointment
        </button>
    </div>
    <div [ngSwitch]="view" style="margin-top:5px;">
        
        <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" 
                                 [viewDate]="viewDate" 
                                 [events]="events"
                                 [refresh]="refresh" 
                                 [activeDayIsOpen]="activeDayIsOpen" 
                                 (dayClicked)="dayClicked($event.day)"
                                 (eventClicked)="handleEvent('Clicked', $event.event)" 
                                 (eventTimesChanged)="eventTimesChanged($event)"
                                 weekStartsOn="1">
        </mwl-calendar-month-view>

        <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" 
                                [viewDate]="viewDate" 
                                [events]="events"
                                dayStartHour="7" 
                                dayEndHour="19" 
                                [refresh]="refresh" 
                                (eventClicked)="handleEvent('Clicked', $event.event)"
                                (eventTimesChanged)="eventTimesChanged($event)" 
                                weekStartsOn="1">
        </mwl-calendar-week-view>

        <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" 
                               [viewDate]="viewDate" 
                               [events]="events" 
                               dayStartHour="7"
                               dayEndHour="19" 
                               [refresh]="refresh" 
                               (eventClicked)="handleEvent('Clicked', $event.event)" 
                               [hourSegments]="2"
                               (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-day-view>
    </div>
</mat-card>