<div fxLayout="row wrap" mat-dialog-title>
    <fa-icon icon="tooth" [ngClass]="dialogTooth.state" [fixedWidth]="true">
    </fa-icon>
    <span mat-dialog-title style="color:#3f51b5;margin-left:5px;">Tooth no. {{dialogTooth.number}} details</span>
</div>

<div mat-dialog-content style="padding-top:5px;">
    <div fxLayout="row wrap">
        <mat-radio-group aria-label="Select an option" [(ngModel)]="dialogTooth.state">
            <mat-radio-button value="healty-tooth">Healty</mat-radio-button>
            <mat-radio-button value="extracted-nerve-tooth">Nerve extracted</mat-radio-button>
            <mat-radio-button value="fake-tooth">Fake</mat-radio-button>
            <mat-radio-button value="missing-tooth">Missing</mat-radio-button>
        </mat-radio-group>
    </div>

    <div fxLayout="row wrap" style="margin-top:25px;">
        <div fxLayout="column wrap" style="width:100%">
            <mat-form-field [style.fontSize]="'14px'" class="example-full-width">
                <textarea matInput rows="8" [(ngModel)]="dialogTooth.operationDetails" style="line-height: 20px"
                    placeholder="Tooth operation details">
                </textarea>
            </mat-form-field>
        </div>
    </div>
</div>
<div mat-dialog-actions style="margin-bottom: 1px;">
    <button mat-raised-button color="primary" (click)="saveToothDetails()">Save</button>
    <button mat-raised-button color="primary" (click)="closeDialog()">Cancel</button>
</div>